<html>
    <head>
        <title>ExpressJS App</title>
        <link href="styles/common.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <h1>ExpressJS App </h1>
    </body>
</html>