<div class="container" style="margin-top:40px">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong> Sign in to continue <small>Template Driven Forms</small></strong>
					</div>
					<div class="panel-body">
						<form (ngSubmit)="login(f)" #f="ngForm" >
							<fieldset>
								<div class="row">
									<div class="center-block">
										<img class="profile-img"
											src="assets\images\photo.png" alt="">
									</div>
								</div>
							
								<div class="row">
									<div class="col-sm-12 col-md-10  col-md-offset-1 ">
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-user"></i>
												</span> 
												<input class="form-control" 
												placeholder="EMail"
												name="email"
												type="text"
												ngModel
												required
												pattern=".+\@.+\..+"
												   autofocus>
											</div>
										</div>
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-lock"></i>
												</span>
												<input class="form-control" ngModel placeholder="Password"
												 name="password" 
												 type="password"
												 required
												  value="">
											</div>
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!f.valid"  >Sign in </button>

										</div> 
									</div>
								</div>
								<div class="alert alert-danger" role="alert" *ngIf="errorMessage != null"> 
										{{ErrorCode[errorMessage]}}
								</div>
							</fieldset>
						</form>
					</div>
					<div class="panel-footer ">
						Don't have an account! <a routerLink="/register"> Sign Up Here </a>
					</div>
                </div>
			</div>
		</div>
	</div>